<p>company works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1 style=" text-align: center;"> Company Data </h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">SrNo</th>
            <th scope="col">Name</th>
            <th scope="col">gender</th>
            <th scope="col">physics</th>
            <th scope="col">english</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of companyList;  index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{s.name}}</td>
            <td>{{s.gender}}</td>
            <td>{{s.physics}}</td>
            <td>{{s.english}}</td>
         
          </tr>
        </tbody>
      </table>
</body>
</html>