<p>view-studentdeyails works!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>enrollmentNo</th>
            <th>name</th>
            <th>address</th>
            <th>branch</th>
            <th>city</th>
            <th>contact</th>
            <th>gender</th>
            <th>password</th>
            <th>pinCode</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
            <td> {{ studentModel.enrollmentNo}}</td>
            <td> {{ studentModel.name}}</td>
            <td> {{ studentModel.address}}</td>
            <td> {{ studentModel.branch}}</td>
            <td> {{ studentModel.city}}</td>
            <td> {{ studentModel.contact}}</td>
            <td> {{ studentModel.gender}}</td>
            <td> {{ studentModel.password}}</td>
            <td> {{ studentModel.pinCode}}</td>
            <td> {{ studentModel.role}}</td>

            <td>
</table>